:root{
    --container-width: 1550px;
}
@font-face {
    font-family: 'Gilroy';
    src:url('./fonts/Gilroy-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src:url('./fonts/Gilroy-Semibold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src:url('./fonts/Gilroy-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
*{  
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    color: #F2F2F2;
    padding: 0;
    font-family: 'Gilroy';
    line-height: 160%;
    font-size: 18px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    font-style: inherit;
    color: inherit;
}
.wrapper{
    background: linear-gradient(80.5deg, #83A4BD 11.55%, #A5A2B3 24.51%, #BA929B 33.33%,
    #BD8689 39.89%, #C46F6A 47.85%, #C65857 55.62%, #BF4145 65.14%, #9C2E37 75.49%,
    #7A262E 84.66%, #5B1E23 95.55%, #421F23 103.99%, #2D1C22 111.11%);
    background-size: contain;
}
body{
    min-height: 100vh;
    overflow-x: hidden;

}
[class*="_container"]{
    max-width: var(--container-width);
    margin: 0 auto;

}
[class*="_transparent"]{
    background-color: rgb(242, 242, 242, 0.1);
}
h2{
    font-size: 32px;
    line-height: 130%;
    font-weight: 600;
}
strong{
    font-size: inherit;
    font-weight: 700;
}
.button{
    background-color: #F2323D;
    font-size: 20px;
    line-height: 100%;
    padding: 20px 32px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.1s;
}
.button:hover{
    background-color: #C9000C;
}


/*Header*/
.header__container{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav{
    display: flex;
    gap: 83px;
}
.header__navlinks{
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 18px;
}
.header__connection{
    text-align: right;
}
.header__connection a{
    display: block;
}
.header__connection a:last-child{
    font-size: 13px;
}
.header__phone{
    font-weight: 600;
}
.header__phone img{
    margin-right: 10px;
}

/* 1 section */
.main_section{
    margin-top: 60px;
    position: relative;
    background-image: url(./img/container.png);
    background-repeat: no-repeat;
    background-position: right 120px bottom -34px;
    margin-left: calc((100% - var(--container-width))/2);
}
.main_section h1{
    font-weight: normal;
    font-size: 36px;
    line-height: 130%;
}
.main_section>p{
    font-size: 20px;
    margin-top: 20px;
}
.main_section__btn{
    display: block;
    width: fit-content;
    margin-top: 50px;
}
.main_section__bottom{
    margin-top: 100px;
    display: flex;
    gap: 30px;
}
.main_section__bottom li{
    border-left: 1px solid #E9E9E9;
    padding: 0 15px;
    max-width: 175px;
}

/* 2 section */
.about__container{
    margin-top: 95px;
    position: relative;
    padding: 55px 0 80px 0;
}
.about__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    grid-gap: 60px;
}
.about__grid>li{
    display: flex;
    gap: 30px;
}
.about__grid>li>img{
    max-width: 230px;
    max-height: 240px;
}
.about__grid h3{
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 120%;
}
.about__grid>li li{
    margin-left: 20px;
    list-style:disc;
    margin-top: 12px;
    line-height: 140%;
}

/*3 section*/
.certificate{
    padding: 80px 0;
}
[class*='_top']{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrows{
    display: flex;
    gap: 40px;
    cursor: pointer;
}
.arrows img{
    padding: 10px 0;
}
[class*='_slider']{
    overflow: auto;
    scroll-behavior: smooth;
}
[class*='_slider']::-webkit-scrollbar{
    display: none;
}
[class*='__list'] {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    margin-top: 40px;
}
[class*="_list"] li{
    cursor: pointer;
}
[class*="_list"] li:first-child{
    padding-left: calc((100% - var(--container-width))/2);
}
[class*="_list"] li:last-child{
    padding-right: calc((100% - var(--container-width))/2);
}

/*4 section*/
.comment{
    margin: 80px 0;
}
.steps_transparent{
    padding: 80px 0;
}
.steps__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 40px;
}
.steps__items li{
    position: relative;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 30px 40px;
    display: flex;
    align-items: center;
}
.steps__items li.active{
    background-color: #F2323D;
}
.steps__items li span{
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    right: 15px;
    top: 10px;
}

/*5 section*/
.feedback{
    padding: 80px 0;
}

/*6 section*/
.consultation__transparent{
    padding: 80px 0;
    position: relative;
}
.consultation__container{
    border: 1px solid rgb(254, 249, 249, 0.5);
    border-radius: 6px;
    padding: 60px 80px 80px 80px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.consultation_description{
    grid-column: 7/13;
}
.consultation__container h2{
    font-weight: 400;
    max-width: 640px;
}
.consultation__form{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 20px;
}
.consultation__form input{
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.15);
    padding: 20px 30px;
    line-height: 100%;
}
.consultation__form input::placeholder{
    color: white;
}
.consultation__form input:focus{
    outline: 0;
    outline-offset: 0;
    border:2px solid #ffffff;
}
.consultation__img{
    position: absolute;
    bottom: 0;
    left: 41px;
}
#lighting_1{
    position: absolute;
    left: 39px;
    top: 49px;
}
#lighting_2{
    position: absolute;
    bottom: -82px;
    left: 299px;
    clip-path: inset(0 0 83px 0);
}

/*section 7*/
.work{
    padding: 80px 0;
}

/*Footer*/
.footer{
    background-image: url(./img/footer_map.png);
    background-size: cover;
    padding: 80px;
}
.footer__info{
    display: flex;
    flex-direction: column;
    width:fit-content;
    padding: 60px;
    background-color: #FDFDFD;
    gap: 25px;
    border-radius: 6px;
}
.footer__info h2{
    color: #333333;
}
.footer__contacts{
    color: #4F4F4F;
    font-size: 20px;
}
.footer__address{
    font-size: 16px;
    color: #4F4F4F;
}
.footer__social{
    display: flex;
    gap: 30px;
}
.SM_svg path{
    fill: #F2323D;
}
.footer__social a:hover .SM_svg>path{
    fill: #C9000C;
}

@media (max-width: 1630px) {
    :root{
        --container-width: 1160px;
    }
    .main_section{
        background-position: right -37px bottom -34px;
    }
    .consultation_description {
        grid-column: 5/13;
    }
}
@media (max-width: 1280px) {
    *{
        font-size: 14px;
    }
    :root{
        --container-width: 760px;
    }
    h2{
        font-size: 24px;
    }
    .header__logo{
        display: none;
    }
    .header__navlinks{
        gap: 30px;
    }
    .main_section{
        background-image: url(./img/container1280.png);
        background-position: right 16px bottom -30px;
    }
    .main_section h1{
        font-size: 24px;
    }
    .main_section>p{
        font-size: 16px;
        margin-top: 18px;
    }
    .main_section__btn{
        margin-top: 26px;
    }
    .button{
        font-size: 18px;
    }
    .main_section__bottom{
        margin-top: 70px;
    }
    .main_section__bottom li {
        padding: 0 10px;
        max-width: 122px;
    }
    .main_section__bottom li p{
        font-size: 11px;
    }
    .main_section__bottom li>img{
        transform: scale(0.59);
    }
}