:root{
    --container-width: 1450px;
    --main-padding: 80px;
}
@font-face {
    font-family: 'Gilroy';
    src:url('./fonts/Gilroy-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src:url('./fonts/Gilroy-Semibold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src:url('./fonts/Gilroy-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
*{  
    box-sizing: border-box;
    margin: 0;
    color: #F2F2F2;
    padding: 0;
    font-family: 'Gilroy';
    line-height: 160%;
    -webkit-tap-highlight-color: transparent;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    font-style: inherit;
    color: inherit;
}
.wrapper{
    background: linear-gradient(89deg, #83A4BD 11.55%, #A5A2B3 24.51%, #BA929B 33.33%,
    #BD8689 39.89%, #C46F6A 47.85%, #C65857 55.62%, #BF4145 65.14%, #9C2E37 75.49%,
    #7A262E 84.66%, #5B1E23 95.55%, #421F23 103.99%, #2D1C22 111.11%);
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    font-size: 18px;
}
[class*="_container"]{
    max-width: var(--container-width);
    margin: 0 auto;

}
[class*="_transparent"]{
    background-color: rgb(242, 242, 242, 0.1);
}
h2{
    font-size: 32px;
    line-height: 130%;
    font-weight: 600;
}
strong{
    font-size: inherit;
    font-weight: 700;
}
.button{
    background-color: #F2323D;
    font-size: 20px;
    line-height: 100%;
    padding: 20px 32px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
}
.button::before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    height: 100%;
    width: 25%;
    left: 0;
    top: 0;
    opacity: 0.5;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}
.button::after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 12%;
    top: 0;
    left: 30px;
    opacity: 0;
    filter: blur(30px);
    transform: translateX(100px) skewX(-15deg);
}
.button:hover::before{
    transform: translate(300px) skewX(-15deg);
    opacity: 0.6;
    transition: 0.7s;
}
.button:hover::after{
    transform: translate(300px) skewX(-15deg);
    opacity: 1;
    transition: 0.7s;
}
.button:hover{
    background-color: #C9000C;
}
.button:focus{
    outline: none;
}
.button:active{
    transform: scale(0.9);
}
.modal__overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(48, 48, 48, 0.8);
    z-index: 10;
    justify-content: center;
    align-items: center;
}
.modal__window{
    perspective: 300px;
    animation: modal 0.5s ease;
}
@keyframes modal {
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0);
    }
}

/*Header*/
.header{
    overflow-x: hidden;
    top: 0;
    z-index: 2;
    transition: 0.6s;
}
.header.hide{
    transform: translateY(-100%);
    transition: 1s;
}
.header__container{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav{
    display: flex;
    gap: 83px;
}
.header__navlinks{
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 18px;
}
.navlink::after{
    content: '';
    height: 2px;
    background-color: #F2F2F2;
    display: block;
    opacity: 0.1;
    width: 100%;
    transform: scaleX(0);
    transition: 0.3s;
}
.navlink:hover::after{
    transform: scaleX(1);
    opacity: 0.8;
}
.header__connection{
    text-align: right;
}
.header__connection a{
    display: block;
}
.header__phone{
    font-size: 18px;
}
.callback{
    font-size: 13px;
}
.callback::after{
    content: '';
    height: 1px;
    background-color: #F2F2F2;
    display: block;
    opacity: 0.1;
    width: 100%;
    transform: scaleX(0);
    transition: 0.3s;
}
.callback:hover::after{
    transform: scaleX(1);
    opacity: 0.8;
}
.burger__menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    z-index: 2;
    gap: 25px;
    padding-top: 150px;
    transform: translateX(100%);
    transition: 0.5s;
}
.burger__menu>li{
    font-size: 18px;
    color: #F2323D;
}
.burger__menu>li:active{
    color:#C9000C;
}
.header__burger{
    box-sizing: content-box;
    position: relative;
    width: 50px;
    cursor: pointer;
    align-items: center;
    justify-content: flex-end;
    transition: 0.3s ease-in-out;
    display: none;
    z-index: 10;
}
.header__burger_btn{
    width: 25px;
    height: 2px;
    background-color: #F2F2F2;
    transition: 0.3s ease-in-out;
}
.header__burger_btn::before,
.header__burger_btn::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #F2F2F2;
    transition: 0.3s ease-in-out;
}
.header__burger_btn::before{
    transform: translateY(-8px);
}
.header__burger_btn::after{
    transform: translateY(8px);
}
.header__burger.open .header__burger_btn{
    transform: translate(-10px);
    background: transparent;
}
.header__burger.open .header__burger_btn::before{
    transform: rotate(45deg) translate(7px, -7px);
    background-color: #F2323D;
}
.header__burger.open .header__burger_btn::after{
    transform: rotate(-45deg) translate(7px, 7px);
    background-color: #F2323D;
}
.burger__menu.active{
    transform: translateX(0);
}
.header__phone{
    font-weight: 600;
}
.phone{
    margin-right: 10px;
}
.header__phone:hover .phone{
    animation: call 0.6s ease-in-out;
}
@keyframes call {
    15% {
    transform: translateX(3px) rotate(12deg);
    }
    30% {
    transform: translateX(-3px) rotate(-12deg);
    }
    40% {
    transform: translateX(2px) rotate(8deg);
    }
    50% {
    transform: translateX(-2px) rotate(-8deg);
    }
    65% {
    transform: translateX(1px) rotate(5deg);
    }
    100% {
    transform: translateX(0) rotate(0);
    }
}

/* 1 section */
.main_section{
    margin-top: 30px;
    position: relative;
    margin-left: calc((100% - var(--container-width))/2);
    overflow: hidden;
}
.main_section__img{
    position: absolute;
    right: 71px;
    bottom: -50px;
}
.main_section h1{
    font-weight: normal;
    font-size: 36px;
    line-height: 130%;
}
.main_section>p{
    font-size: 20px;
    margin-top: 20px;
}
.main_section__btn{
    display: block;
    width: fit-content;
    margin-top: 50px;
}
.main_section__bottom{
    margin-top: 100px;
    display: flex;
    gap: 30px;
}
.main_section__bottom li{
    border-left: 1px solid #E9E9E9;
    padding: 0 15px;
    max-width: 175px;
}

/* 2 section */
.about__container{
    margin-top: 95px;
    position: relative;
    padding: 55px 0 var(--main-padding) 0;
}
.about__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    grid-gap: 60px;
}
.about__grid>li{
    display: flex;
    gap: 30px;
}
.about__grid>li>img{
    max-width: 230px;
    max-height: 240px;
}
.about__grid h3{
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 120%;
}
.about__grid>li li{
    margin-left: 20px;
    list-style:disc;
    margin-top: 12px;
    line-height: 140%;
}

/*3 section*/
.certificate{
    padding: var(--main-padding) 0;
}
.certificate__top h2{
    max-width: 615px;
}
[class*='_top']{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrows{
    display: flex;
    gap: 40px;
    cursor: pointer;
}
.prevArrow{
    transform: scale(-1);
}
.arrows img{
    transition: 0.2s;
    padding: 10px 0;
}
.prevArrow:active{
    transform: scale(-0.95);
}
.nextArrow:active{
    transform: scale(0.95);
}
[class*='_slider']{
    overflow: auto;
    scroll-behavior: smooth;
}
[class*='_slider']::-webkit-scrollbar{
    display: none;
}
[class*='__list'] {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    margin-top: 40px;
}
[class*="__list"] li{
    cursor: pointer;
}
[class*="__list"] li:first-child{
    padding-left: calc((100% - var(--container-width))/2);
}
[class*="__list"] li:last-child{
    padding-right: calc((100% - var(--container-width))/2);
}

/*4 section*/
.comment{
    margin: var(--main-padding) 0;
}
.steps_transparent{
    padding: var(--main-padding) 0;
}
.steps__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 40px;
}
.steps__items li{
    position: relative;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 30px 40px;
    display: flex;
    align-items: center;
}
.steps__items li.active{
    background-color: #F2323D;
}
.steps__items li span{
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    right: 15px;
    top: 10px;
}

/*5 section*/
.feedback{
    padding: var(--main-padding) 0;
}

/*6 section*/
.consultation__transparent{
    padding: 80px 0;
    position: relative;
}
.consultation__container{
    border: 1px solid rgb(254, 249, 249, 0.5);
    border-radius: 6px;
    padding: 60px 80px 80px 80px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.consultation_description{
    grid-column: 7/13;
}
.consultation__container h2{
    font-weight: 400;
    max-width: 640px;
}
.consultation__form{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 20px;
}
.consultation__form input{
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.15);
    padding: 20px 30px;
    line-height: 100%;
    font-size: 18px;
}
.consultation__form input::placeholder{
    color: white;
}
.consultation__form input:focus{
    outline: 0;
    outline-offset: 0;
    border:2px solid #ffffff;
}
.consultation__img{
    position: absolute;
    bottom: -8px;
    left: 41px;
    z-index: 5;
}
#lighting_1{
    position: absolute;
    left: 39px;
    top: 49px;
    z-index: 1;
}
#lighting_2{
    position: absolute;
    bottom: -83px;
    left: 299px;
    clip-path: inset(0 0 83px 0);
}

/*section 7*/
.work{
    padding: var(--main-padding) 0;
}

/*section 8*/
.questions__transparent{
    padding: var(--main-padding) 0 100px 0;
}
.questions__accordions{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 450px;
    gap: 20px;
}
.acc_item{
    width: 560px;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    font-size: 21px;
    line-height: 24px;
}
.acc_item.active .acc_item__content{
    display: block;
}
.acc_item .acc_item__content{
    margin-top: 18px;
    font-size: 18px;
    line-height: 170%;
    display: none;
}
.acc_item__trigger{
    position: relative;
    cursor: pointer;
    width: 100%;
}
.acc_item__trigger::after{
    content: url(./img/triangle.svg);
    position: absolute;
    top: calc(50% - 18px);
    right: 3px;
    transform: scale(-1);
    display: block;
}
.acc_item.active .acc_item__trigger::after{
    transform: scale(1);
}

/*Footer*/
.footer{
    position: relative;
}
.footer__img img{
    display: block;
    object-fit: cover;
    height: 600px;
    width: 100%;
}
.footer__info{
    position: absolute;
    top: var(--main-padding);
    left: var(--main-padding);
    display: flex;
    flex-direction: column;
    width:fit-content;
    padding: 60px;
    background-color: #FDFDFD;
    gap: 25px;
    border-radius: 6px;
}
.footer__info h2{
    color: #333333;
}
.footer__contacts a{
    color: #4F4F4F;
    font-size: 20px;
}
.footer__address{
    font-size: 16px;
    color: #4F4F4F;
}
.footer__social{
    display: flex;
    gap: 30px;
}
.SM_svg{
    transition: .2s;
}
.SM_svg path{
    fill: #F2323D;
}
.footer__social a:hover .SM_svg>path{
    fill: #C9000C;
}
.footer__social a:hover .SM_svg{
    transform: scale(1.1);
}

@media (max-width: 1630px) {
    :root{
        --container-width: 1160px;
    }
    .main_section__img{
        right: -36px;
        bottom: -50px;
    }
    .consultation_description {
        grid-column: 5/13;
    }
}

/*Tablet*/
@media (max-width: 1280px) {
    body{
        font-size: 14px;
    }
    :root{
        --container-width: 760px;
        --main-padding: 50px;
    }
    h2{
        font-size: 24px;
    }
    .main_section__img{
        right: 110px;
        bottom: -25px;
    }
    .header__logo{
        display: none;
    }
    .header__navlinks{
        gap: 30px;
        font-size: 14px;
    }
    .main_section h1{
        font-size: 24px;
    }
    .main_section>p{
        font-size: 16px;
        margin-top: 18px;
    }
    .main_section__btn{
        margin-top: 26px;
    }
    .button{
        font-size: 18px;
    }
    .main_section__bottom{
        margin-top: 70px;
    }
    .main_section__bottom li {
        padding: 0 10px;
        max-width: 122px;
    }
    .main_section__bottom li p{
        font-size: 11px;
    }
    .main_section__bottom li>img{
        transform: scale(0.59);
    }
    .about__container{
        margin-top: 45px;
    }
    .about__grid>li img{
        max-width: 175px;
        max-height: 179.77px;
    }
    .about__grid{
        grid-gap: 20px;
        margin-top: 25px;
    }
    .about__grid h3{
        margin-bottom: 10px;
        font-size: 18px;
    }
    .about__grid>li{
        gap: 20px;
    }
    .about__grid>li li{
        font-size: 14px;
        margin-top: 8px;
        margin-left: 15px;
    }
    [class*='__list']{
        margin-top: 25px;
        gap: 20px;
    }
    .steps__items{
        margin-top: 25px;
        grid-gap: 20px;
    }
    .steps__items li{
        padding: 15px;
    }
    .steps__items li span{
        font-size: 20px;
        top: 5px;
    }
    .consultation__form{
        grid-template-columns: repeat(3, 155px);
        grid-gap: 15px
    }
    .consultation__container{
        padding: 30px;
    }
    .consultation__form .button{
        font-size: 16px;
        padding: 16px 33px;
    }
    .consultation__form input{
        padding: 16px;
        font-size: 16px;
    }
    #lighting_1, #lighting_2{
        transform: scale(0.65);
    }
    #lighting_1{
        left: -11px;
        top: 18px;
    }
    #lighting_2{
        left: 130px;
    }
    .consultation__img{
        bottom: -6px;
        left: 0;
    }
    .consultation_description{
        grid-column: 4/13;
        margin-left: 25px;
    }
    .questions__transparent{
        padding-bottom: 50px;
    }
    .questions__accordions{
        margin-top: 25px;
        max-height: 320px;
        gap: 15px;
    }
    .acc_item{
        width: 367px;
        padding: 20px;
        font-size: 14px;
        line-height: 16px;
    }
    .acc_item .acc_item__content{
        margin-top: 12px;
        font-size: 12px;
    }
    .acc_item__trigger::after{
        top: calc(50% - 15px);
        right: 0;
        transform: scale(-0.7);
    }
    .acc_item.active .acc_item__trigger::after{
        transform: scale(0.7);
    }
    .footer__info{
        padding: 31px;
        gap: 20px;
    }
    .footer__img img{
        height: 440px;
    }
}
@media (max-width: 1040px) {
    .main_section__img{
        right: 5px;
    }
}

/*Mobile*/
@media (max-width: 800px) {
    :root{
        --container-width: 550px;
        --main-padding: 40px;
    }
    html{
        scroll-behavior: auto;
    }
    h2{
        text-align: center;
        font-size: 22px;
    }
    .header__burger{
        display: flex;
    }
    .header{
        position: sticky;
        backdrop-filter: blur(10px);
    }
    .header__container{
        padding: 20px 0;
    }
    .button:hover::before{
        transform: translate(400px);
    }
    .button:hover::after{
        transform: translate(400px);
    }
    .header__logo{
        display: block;
    }
    .header__navlinks{
        display: none;
    }
    .header__connection{
        display: none;
    }
    .main_section{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .main_section h1{
        font-size: 20px;
        text-align: center;
        max-width: var(--container-width);
        margin: 0 auto;
    }
    .main_section>p{
        text-align: center;
    }
    .main_section__img{
        position: static;
        max-width: 360px;
    }
    .main_section__bottom{
        margin-top: 0;
        flex-direction: column;
        background-color: rgb(242, 242, 242, 0.1);
        padding: 40px 32px;
        border-radius: 6px;
    }
    .main_section__bottom li{
        max-width: 175px;
        padding: 0 15px;
    }
    .main_section__bottom li>img{
        transform: scale(1);
    }
    .main_section__bottom li p{
        font-size: 18px;
    }
    .about__grid{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .about__grid li{
        flex-direction: column;
        text-align: center;
    }
    .about__grid>li img{
        max-width: var(--container-width);
        max-height: max-content;
    }
    .about__grid>li ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .about__grid>li li{
        margin-left: 0;
        list-style: none;
    }
    .about__grid>li h3:first-child{
        width: 100%;
    }
    .about__grid>li li:not(:last-child):not(:first-child):after{
        content: ', ';
        margin-right: 5px;
    }
    .about__grid>li ul{
        width: calc(var(--container-width)/2);
        margin: 0 auto;
    }
    [class*='_top']{
        flex-direction: column;
        gap: 25px;
    }
    .certificate__top h2{
        font-size: 20px;
        max-width: 463px;
    }
    .steps__items{
        grid-template-columns: none;
        grid-auto-rows: 1fr;
    }
    .stepItem{
        width: 100%;
        max-width: 560px;
        margin: 0 auto;
    }
    .consultation__transparent{
        padding-top: 0;
    }
    .consultation__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        padding: 0;
        border: none;
        border-bottom: 1px solid rgb(254, 249, 249, 0.5);
    }
    .consultation__img{
        position: static;
        border-bottom: 1px solid rgb(254, 249, 249, 0.5);
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .consultation__img{
        z-index: 1;
    }
    .consultation__form{
        grid-template-columns: none;
        grid-auto-rows: 1fr;
        margin-top: 30px;
    }
    .consultation_description{
        padding: 30px 0;
        margin: 0 auto;
        max-width: calc(var(--container-width)/1.5);
        position: relative;
    }

    .questions__transparent{
        padding-bottom: 40px;
    }
    .questions__accordions{
        margin-top: 12px;
        flex-wrap: nowrap;
        max-height: max-content;
        gap: 15px;
    }
    .acc_item{
        width: 100%;
        max-width: 560px;
        padding: 17px;
        font-size: 12px;
        line-height: 13px;
    }
    .acc_item .acc_item__content{
        margin-top: 10px;
        font-size: 10px;
    }
    .acc_item__trigger::after{
        top: calc(50% - 10px);
        right: 0;
        transform: scale(-0.5);
    }
    .acc_item.active .acc_item__trigger::after{
        transform: scale(0.5);
    }

    #lighting_1, #lighting_2{
        transform: scale(0.55);
    }
    #lighting_1 {
        left: 38px;
        top: -234px;
    }
    #lighting_2{
        left: 218px;
        bottom: 359px;
    }
    .footer__img img{
        height: 231px;
    }
    .footer__info{
        position: static;
        width: 100%;
        align-items: center;
        text-align: center;
        gap: 15px;
    }
    .footer__social{
        margin-top: 12px;
    }
}
@media (max-width: 590px) {
    :root{
        --container-width: 300px;
    }
    #lighting_1 {
        left: 5px;
        top: -234px;
    }
    #lighting_2{
        left: 185px;
        bottom: 359px;
    }
    .about__grid>li ul{
        width: var(--container-width);
        margin: 0 auto;
    }
    .consultation_description{
        max-width: var(--container-width);
    }
    .stepItem{
        width: calc(var(--container-width) - 60px);
    }
    .acc_item__trigger::after{
        right: -10px;
    }
}
